<div class="panel panel-info">
  <div class="panel-heading">Output</div>
  <div class="panel-body">
    <label for="r-input-signature">Giá trị r</label>
    <input id="r-input-signature" class="form-control" readonly
    placeholder="Giá trị của r"></input>

    <label for="s-input-signature">Giá trị s</label>
    <input id="s-input-signature" class="form-control" readonly
    placeholder="Giá trị của s"></input>

    <center>
      <button id="gs-save-signature" class="btn btn-info btn-submit" type="button">
        Lưu chữ ký  
      </button>
    </center>
  </div>
</div>
