<div class="panel panel-info">
  <div class="panel-heading">Input</div>
  <div class="panel-body">
    <label for="gs-elliptic" class="important">Chọn đường cong elliptic</label>
    <select name="ec-name" class="form-control" id="gs-elliptic">
      <option value="secp224r1">NIST/SECG curve over a 224 bit prime field</option>
      <option value="secp384r1">NIST/SECG curve over a 384 bit prime field</option>
      <option value="secp521r1">NIST/SECG curve over a 521 bit prime field</option>
      <option value="prime192v3">X9.62 curve over a 192 bit prime field</option>
      <option value="prime239v3">X9.62 curve over a 239 bit prime field</option>
      <option value="prime256v1">X9.62 curve over a 256 bit prime field</option>
    </select>
    <div>
      Tham số của đường cong:
      <br>p: <input id="gs-p" readonly class="ec-infor"></input>
      <br>a: <input id="gs-a" readonly class="ec-infor"></input>
      <br>b: <input id="gs-b" readonly class="ec-infor"></input>
      <br>g: <input id="gs-g" readonly class="ec-infor"></input>
      <br>n: <input id="gs-n" readonly class="ec-infor"></input>
    </div>

    <label for="gs-message" class="important">Thông điệp</label>
    <div class="input-group">
      <input type="file" id="gs-message" class="form-control"></input>
      <span class="input-group-btn">
        <button id="gs-btn-message-upload"
        class="btn btn-info glyphicon glyphicon-floppy-open" 
        type="button">Upload</button>
      </span>
    </div>

    <label for="gs-private-key" class="important">Khóa bí mật</label>
    <div class="input-group">
      <input type="file" id="gs-private-key" class="form-control"></input>
      <span class="input-group-btn">
        <button id="gs-btn-private-key-upload"
        class="btn btn-info glyphicon glyphicon-floppy-open" 
        type="button">Upload</button>
      </span>
    </div>

    <center>
      <button id="gs-check-input" class="btn btn-info btn-submit" type="button">
        Kiểm tra đường cong và khóa bí mật
      </button>
    </center>
  </div>
</div>
