<div class="panel panel-info">
  <div class="panel-heading">Output</div>
  <div class="panel-body">
    <center>
      <div class="alert alert-success" id="success-mess">
        <button type="button" class="close close-alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>Chữ ký hợp lệ</strong>
      </div>

      <div class="alert alert-danger" id="danger-mess">
        <button type="button" class="close close-alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>Chữ ký không hợp lệ</strong>
      </div>
    </center>
    
    <label for="vs-r-output" class="important">Giá trị r</label>
    <input id="vs-r-output" class="form-control" readonly
    placeholder="Giá trị của r"></input>

    <label for="vs-v-output" class="important">Giá trị v</label>
    <input id="vs-v-output" class="form-control" readonly
    placeholder="Giá trị của v"></input>

    <center>
      <button id="vs-verify-signature" class="btn btn-info btn-submit" type="button">
        Xác minh chữ ký  
      </button>
    </center>
  </div>
</div>
